.statistics{
    margin-top: 80px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220,220,220);
    width: 400px;
    height: 150px;
    border: thick double #32a1ce;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
  font-style: oblique;
    font-size: large;
    margin-bottom: 15px;
}
.list{
    display: flex;
    position: absolute;
bottom: -16px;
}
ul{
    padding-inline-start: 0px;
}